<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "713701c0-f0db-4e77-a55e-1bc2fdb0b28f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  </head>
  <body id="<%= @page.title.downcase.gsub(" ", "-") %>-page">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page" class='container mt70'>
        <div class="row">
          <div class="col-xs-12">
            <%= yield %>
          </div>
        </div>
      </section>
      <footer id="page-footer">
        <div class="container">

          <div class="row">
            <div class="col-xs-12">
              <%= render "/refinery/footer" -%>
            </div>
          </div>
          
        </div>
      </footer>
    </div>

  </body>
</html>
